.modal {
  position: relative;
  background: var(--white-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;

  @media screen and (min-width: 768px) {
    position: absolute;
    width: 450px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}
.modal__button-close {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__close-svg {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .modal__button-close:hover & {
    fill: var(--accent-color);
  }
  .modal__button-close:focus & {
    fill: var(--accent-color);
  }
}

.modal__title {
  font-weight: var(--second-font-weight);
  color: var(--title-text-color);
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}
.modal__form-label-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
}
.modal__form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
  margin-top: 10px;
  letter-spacing: 0.01em;
}
.modal__form-field {
  position: relative;
}
.modal__form-comment {
  display: block;
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    letter-spacing: 0.01em;
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal__form-input {
  width: 100%;
  padding: 12px 15px 12px 42px;
  font-size: 12px;
  line-height: 1.17;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  align-items: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .modal__form-input:hover + & {
    fill: var(--accent-color);
  }
  .modal__form-input:focus + & {
    fill: var(--accent-color);
  }
}
.modal__form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  font-size: 12px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__agreement {
  color: var(--accent-color);
  text-decoration: underline;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
.modal__checkbox-icon {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal__checkbox:checked + .modal__checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__button-form {
  display: block;
  margin: 30px auto 0;
  border: none;
  border-radius: 4px;
  padding: 10px 52px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-weight: var(--second-font-weight);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
